Repository aws-ia/terraform-aws-eks-blueprints, pull requests merged in 2022-02, with the labels that each got.

#223 Launch Template module with Karpenter updates
  README.md
  eks-worker.tf
  examples/karpenter/README.md
  examples/karpenter/main.tf
  examples/karpenter/provisioners/default_provisioner.yaml
  examples/karpenter/provisioners/default_provisioner_with_launch_templates.yaml
  examples/karpenter/provisioners/gpu_provisioner.yaml
  examples/karpenter/provisioners/sample_deployment.yaml
  main.tf
  modules/aws-eks-fargate-profiles/README.md
  modules/aws-eks-managed-node-groups/README.md
  modules/aws-eks-managed-node-groups/locals.tf
  modules/aws-eks-managed-node-groups/managed-launch-templates.tf
  modules/aws-eks-managed-node-groups/outputs.tf
  modules/aws-eks-managed-node-groups/variables.tf
  modules/aws-eks-self-managed-node-groups/README.md
  modules/aws-eks-self-managed-node-groups/locals.tf
  modules/aws-eks-self-managed-node-groups/outputs.tf
  modules/aws-eks-self-managed-node-groups/self-managed-launch-templates.tf
  modules/aws-eks-self-managed-node-groups/variables.tf
  modules/kubernetes-addons/README.md
  modules/kubernetes-addons/karpenter/README.md
  modules/kubernetes-addons/karpenter/locals.tf
  modules/kubernetes-addons/karpenter/values.yaml
  modules/kubernetes-addons/karpenter/variables.tf
  modules/kubernetes-addons/main.tf
  modules/kubernetes-addons/variables.tf
  modules/launch-templates/README.md
  modules/launch-templates/data.tf
  modules/launch-templates/locals.tf
  modules/launch-templates/main.tf
  modules/launch-templates/outputs.tf
  modules/launch-templates/templates/userdata-amazonlinux2eks.tpl
  modules/launch-templates/templates/userdata-bottlerocket.tpl
  modules/launch-templates/variables.tf
  outputs.tf
Labels: bug, enhancement, examples

#230 karpenter example hot fix
  .github/workflows/kics-security-scan.yml
  docs/add-ons/argocd.md
  examples/karpenter/main.tf
  examples/karpenter/provisioners/default_provisioner_with_launch_templates.yaml
  modules/kubernetes-addons/argocd/data.tf
Labels: bug

#233 Add cluster_kms_key_deletion_window_in_days parameter
  README.md
  main.tf
  variables.tf
Labels: enhancement

#221 Adding EKS Pattern for Observability using AMG, AMP, AWS for Fluentbit, and Amazon OpenSearch Service
  examples/observability/eks-cluster-with-amp-amg-opensearch/README.md
  examples/observability/eks-cluster-with-amp-amg-opensearch/data.tf
  examples/observability/eks-cluster-with-amp-amg-opensearch/dev.tfvars
  examples/observability/eks-cluster-with-amp-amg-opensearch/helm_values/aws-for-fluentbit-values.yaml
  examples/observability/eks-cluster-with-amp-amg-opensearch/main.tf
  examples/observability/eks-cluster-with-amp-amg-opensearch/outputs.tf
  examples/observability/eks-cluster-with-amp-amg-opensearch/providers.tf
  examples/observability/eks-cluster-with-amp-amg-opensearch/variables.tf
Labels: examples

#248 Karpenter example with default provisioner
  examples/karpenter/README.md
  examples/karpenter/main.tf
  examples/karpenter/provisioners/default_provisioner.yaml
Labels: examples

#253 Terraform plan removed from e2e test workflow
  .github/workflows/e2e-test.yml
Labels: enhancement
